.newPostPage {
  height: 100%;
  display: flex;
  flex-direction: row;

  .formContainer {
    flex: 3;
    overflow: scroll;

    .wrapper {
      margin: 30px 50px 100px 0px;

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          input,
          select {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          &.description {
            width: 100%;

            textarea {
              width: 100%;
              height: 150px;
              padding: 20px;
              border-radius: 5px;
              border: 1px solid gray;
            }
          }
        }

        .sendButton {
          width: 100%;
          border-radius: 5px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
          margin-top: 20px;
          padding: 15px;
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background: url("/bg.png") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  // Responsive Design
  @media only screen and (max-width: 768px) {
    flex-direction: column;

    .sideContainer {
      display: none; // Hide the side container on mobile devices
    }

    .formContainer {
      flex: 1; // Make the formContainer full width on mobile devices
      margin: 0 20px; // Add some margin to prevent the form from touching the edges
    }
  }
}
