.properties-page {
  display: flex;
  flex-direction: column; /* Ensure vertical alignment */
  min-height: 100vh; /* Adjust to ensure full viewport height */
  background-color: #f4f4f4;
  padding: 20px;
  overflow-y: auto;

  .navbar {
    margin-bottom: 20px; /* Add some space between navbar and content */
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
  }

  @media (max-width: 768px) {
    padding: 10px;

    .list {
      gap: 10px;
      max-height: calc(100vh - 80px);
    }
  }
}
