.customers-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;

  .customers-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }
}
